<button
  id="button-{{this.id}}"
  type="button"
  class="phrase-button btn btn-light border histBtn m-2 col-6 rounded"
  data-upperText="{{this.upper_text}}"
  data-lowerText="{{this.lower_text}}"
><h6>UPPER TEXT</h6>--{{this.upper_text}}
  <h6>LOWER TEXT</h6>--{{this.lower_text}}
</button>