{{picture.id}}

{{phrase.upper_text}}


{{!-- {{picture.[1].phrase.upper_text}} --}}
picture

    <main class="row">
      <div id="memeContainer" class="container position-relative m-1 h-auto p-0 col-12 col-sm-6">
        <div class="container m-0 h-100 w-auto">
          <img class="h-100 w-100" src="{{picture.url}}" />
        </div>
        <div class="position-absolute top-0 start-50 translate-middle-x">
          <h1 id="upperText" class="text-uppercase text-white">{{#each picture.phrases as |phrase|}}
{{phrase.upper_text}}

</h1>
        </div>
        <div class="position-absolute bottom-0 start-50 translate-middle-x">
          <h1 id="lowerText" class="text-uppercase text-white">{{phrase.lower_text}}</h1>
        </div>
      </div>

      <div id="phraseInputContainer" class="container position-relative m-1 h-auto p-0 col-12 col-sm-5">
        <div class="memeSubmission">
          <h2 class="submission-title text-center">Some Words</h2>
          <form class="form">
            <div class="form-group">
              <label for="upperTextInput"><h5>Upper Text:</h5></label>
              <input class="form-input w-100" type="text" id="upperTextInput" />
            </div>
            <div class="form-group">
              <label for="lowerTextInput"><h5>Lower Text:</h5></label>
              <input class="form-input w-100" type="text" id="lowerTextInput" />
            </div>
            <div class="form-group p-2 text-center">
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>

      
    </main>
{{/each}}
